*{
	margin:0px;
	padding:0px;
}
.profile{
	background-color:#354141  ;
	width:1000px;
	height:220px;
	border-style:solid;
	border-width:1px;
	border-radius: 25px;
	margin-top:90px;
	margin-left:160px;
	
}
.headone{
	font-family:verdana;
	color:#354141;
	text-align:left;
	margin:-170px;
	margin-top:-180px;
	font-size:20px;
	margin-left:-100px;
	font-weight:bolder;
	font-style:oblique;
}
.headtwo{
	font-family:verdana;
	color:#354141;
	text-align:left;
	margin:-170px;
	margin-top:-180px;
	font-size:20px;
	margin-left:-20px;
	font-weight:bolder;
	font-style:oblique;
}
.headfour{
	font-family:verdana;
	color:#354141;
	text-align:left;
	margin:-170px;
	margin-top:-180px;
	font-size:20px;
	margin-left:-60px;
	font-weight:bolder;
	font-style:oblique;
}
.headthree{
	font-family:Arial;
	color:white;
	text-align:center;
	font-size:40px;
	margin-left:-50px;
}
.circleBase {
    border-radius:50%;
}

.type1 {
    width:275px;
    height:275px;
    background-image:url('profileimage.png');
	margin-top:-30px;
    border:1px solid black;
}
.flex-container {
  display: flex;
}

.flex-container>div {
  background-color: #f1f1f1;
  margin: 10px;
  padding:200px;
  font-size: 30px;
  height:80px;
  margin-top:150px;
}
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
ul{
	list-style:none;
	font-family:verdana;
	color:#5B5D5D;
	text-align:left;
	margin:0px;
	margin-top:250px;
	font-size:20px;
	margin-left:-160px;
	position:absolute;
	font-family:serif;
	font-style:oblique;
	font-weight:bolder;
}
.footer{
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
}
